<div class="st101">
  <% link_to home_path do  %>
    返回 &nbsp;&nbsp; <%= Setting.site_name %>
  <% end %>
</div>
<div class="st102"> 
  <% if logged_in? %>
    <%= link_to current_user.login, current_user %>
    <%= link_to '退出', logout_path %>
  <% else %>
    您好，您可以
    <%= link_to '登录', login_path %> 或 <%= link_to '注册', signup_path %>
  <% end %>
</div>
<div class="st201">
  <div class="st202">
    <%= render :partial => @article %>
  </div>
</div>
<div class="st301">
  <% if @ticket %>
  <% form_for @ticket do |f| %>
  <div class="st302">我觉得吧，这个帖子---- </div>
  <div class="st303">
    <div class="st304">
      <div class="st305"><dl>
          <dt><i>
            <%= image_tag theme_stylesheet_path('img/st301.gif') %></i><b>不能发表，因为</b></dt>
            <%= f.hidden_field :article_id %>
            <%= f.hidden_field :ticket_type_id, :value => 0 %>
            <%= f.hidden_field :viewed_at %>
            <% types = TicketType.all  %>
            <% types.select{|t|t.weight < 0}.each do |t| %>
              <dd><input type="button" class="<%= t.weight > 0 ? 'approve': 'kill' %>" value="<%= t.name %>" title="<%=t.description%>" onclick="this.form['ticket[ticket_type_id]'].value=<%=t.id%>;this.form.submit()" />
              <!-- <strong>X <%#@tickets[t.id].to_i%></strong>-->
              </dd>
            <% end %>
        </dl></div>
      <div class="st306"></div>
      <div class="st305"><dl>
          <dt><i>
            <%= image_tag theme_stylesheet_path('img/st302.gif'), :align => 'absbottom'  %></i><b>的确是糗事</b></dt>
            <% types.select{|t|t.weight > 0}.each do |t| %>
              <dd><input type="button" class="<%= t.weight > 0 ? 'approve': 'kill' %>" value="<%= t.name %>" title="<%=t.description%>" onclick="this.form['ticket[ticket_type_id]'].value=<%=t.id%>;this.form.submit()" />
              <!-- <strong>X <%#@tickets[t.id].to_i%></strong>-->
              </dd>              
            <% end %>
        </dl></div>
    </div>
  </div>
  <div class="st307"><%= f.submit '说不清楚，跳过', :class => 'skip' %></div>
  <% end %>  
  <% end %>    
</div>
