<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="糗事网,糗百,搞笑图片,笑话"/>
    <!--meta name="description" content="最暴笑的真实糗事分享社区！在这里您可发现校园、办公室、家庭中正在发生的形形色色的搞笑糗事。"/-->
    <title>
      <% if current_page?(home_path) %>
        <%= @group ? @group.name : Setting.site_name %> - 快乐与分享同在
      <% else %>
        <% if content_for?(:title) %>
          <%= yield :title %> | <%= @group ? @group.name : Setting.site_name %>
        <% else %>
          <%= @group ? @group.name : Setting.site_name %>
        <% end %>
      <% end %>
    </title>
    <%= theme_stylesheet_link_tag 'style_web', 'jquery.fancybox-1.3.4.css' %>
    
    <style>
      .article .share {
        float: left;
        border: none;
        width: 272px;
        height:28px;
        line-height:28px;
        padding-top: 3px;
      }
      .article .share a{
        text-indent: 0;
      }
      .article .share a:hover {
        border:none;
      }
    </style>
  </head>
  <body>
    <a name="top"></a>
    <div class="head">
      <div class="content-block">
        <div class="logo"><%= link_to Setting.site_name, home_path %></div>
        <div class="userbar">
          <div class="login hidden">
            <a href="my" class="username">Datou</a>
            <%= link_to '退出', logout_path, :class => 'exit' %>
            <% link_to inbox_messages_path, :class => 'message', :id => "tip-message", :title => "小纸条" do %>
              <span class="bti"></span><span id="unread_messages_count"></span>
            <% end %>
            <% link_to invitation_codes_path, :class => 'code', :id => "tip-code", :title => "邀请码" do %>
              <span class="bti"></span>
            <%  end %>
          </div>
          <div class="logout">
            <%= link_to '登录', login_path, :id => "logintop" %>
            <%= link_to '注册', signup_path %>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-bar clearfix">
      <div class="content-block">
        <div class="menu">
          <ul>
            <li class="menuout">
              <%= link_to '热门', group_hottest_path(@group, '8hr') %></li>
            <li class="menuout" onMouseOver="this.className='menuover'" onMouseOut="this.className='menuout'">
              <%= link_to '精华', '/hottest', :class => 'submenutitle' %>
              <%= link_to '24小时内', group_hottest_path(@group, 'day'), :class => 'submenu' %>
              <%= link_to '昨天', archive_path(:date => Date.yesterday), :class => 'submenu' %>
              <%= link_to '前天', archive_path(:date => Date.yesterday - 1), :class => 'submenu' %>
              <%= link_to '7天内', group_hottest_path(@group, 'week'), :class => 'submenu' %>
              <%= link_to '30天内', group_hottest_path(@group, 'month'), :class => 'submenu' %>
              <%= link_to '一年内', group_hottest_path(@group, 'year'), :class => 'submenu' %>
            </li>
            <li class="menuout"><%= link_to '最新', group_latest_path(@group) %></li>
            <li class="menuout"><%= link_to '真相', group_picture_path(@group) %></li>
            <li class="menuout"><%= link_to '审贴', submit_tickets_path %></li>
            <li class="menuout"><%= link_to '发表', new_group_article_path(@group) %></li>
          </ul>
        </div>
        <div class="search">
          <form action="http://www.google.com.hk/cse" id="cse-search-box">
            <input type="hidden" name="cx" value="partner-pub-4939841000086153:4566343055" />
            <input type="hidden" name="ie" value="UTF-8" />
            <input type="text" name="q" size="32" class="input-box"/>
            <input type="submit" name="sa" value="&#x641c;&#x7d22;" class="button-box"/>
          </form>
          <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=zh-Hans"></script>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="content-block">
        <div class="col1">
          <%= yield %>
        </div>
        <div class="col2">
          <%= render :partial => "common/sidebar" %>
        </div>          
      </div>
    </div>
    <div class="foot">
      <%# render :partial => 'common/footer_ad' %>
      <div class="copyright">
        内容版权所有 &copy;2012 www.qutubaike.com  &nbsp;<a href="http://www.miibeian.gov.cn/">冀ICP备11026753号-3</a>
      </div>
    </div>
    <div id="login-form">
      <a href="#" class="close"><div class="bti"></div></a>
      <div class="ie6-fix"></div>
      <div class="col1">
        <h1>欢迎回来</h1>
        <form method="post" action="<%= url_for(session_path) %>">
          <div class="inputbox">
            <label for="login">用户名或邮箱：</label>
            <input type="text" tabindex="1" name="login" id="login"/>
            <label for="password">密码：(<%= link_to '忘记密码？', :controller => 'users', :action => 'fetchpass' %>)</label>
            <input type="password" tabindex="2" name="password" id="password"/>
          </div>
          <!--<div id="error"></div>-->
          <div class="optionbox"><label for='remember_me'><input type="checkbox" value="checked" checked="checked" name="remember_me" id="remember_me"/> 记住我</label></div>
          <button type="submit">登录</button>
        </form>
      </div>
      <div class="col2">
        <h1>创建账号</h1>
        <div class="intro">
          请珍惜自己的账号，一旦作恶，账号将被永久删除。<br/><br/>
          <!--使用糗百 <a href="http://itunes.apple.com/cn/app/id422853458?ls=1&amp;mt=8" target="_blank">iPhone</a> 或 <a href="http://www.wandoujia.com/apps/qsbk.app" target="_blank">Android</a> 应用可以无码快速注册，尽享移动欢乐！-->
        </div>
        <%= link_to '注册', signup_path, :class => 'button' %>
      </div>
    </div>
    <div id="suggest-form">
      <a href="#" class="close"><div class="bti"></div></a>
      <div class="ie6-fix"></div>
      <div class="form-block">
        <h1>请帮助我们进步</h1>
        <form action="/suggest" method="post">
          <textarea type="text" id="suggest-text" name="suggestion" tabindex="1"></textarea>
          <button type="submit">提交</button>
          <!--<input type="submit" name="commit" value="提交建议" tabindex="3>-->
        </form>
      </div>
    </div>
    <div id="report-form">
      <a href="#" class="close" id="close-form"><div class="bti"></div></a>
      <div class="ie6-fix"></div>
      <div class="form-block">
        <form action="/comments/report" method="post">
          <strong>请选择理由</strong>
          <input type="hidden" name="comment_id" value="" />
          <label for='abusive'><input id='abusive' type="radio" name="reason" value="abusive"/> 侮辱、漫骂</label>
          <label for='porn'><input id='porn' type="radio" name="reason" value="porn"/> 色情</label>
          <label for='spam'><input id='spam' type="radio" name="reason" value="spam"/> 垃圾广告</label>
          <button type="submit">提交</button>
          <!--<input type="submit" value="举报"/><input type="button" value="关闭" id="close-form"/>-->
        </form>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <!--[if IE]><script src="http://www.qiushibaike.com/static/js/other_libs/excanvas/excanvas.compiled.js" type="text/javascript" charset="utf-8"></script><![endif]-->
    <%= theme_javascript_include_tag %w(jquery.bgiframe.min.js lightbox_me fancybox
              cookie cursor base64 poshytip
              lib2nd vote_history vote floorlink comment
              ajaxlogin app), :cache => true %>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <% if @group 
      j = @group.as_json(:only => [:id, :name, :description])
      j['options'] = @group.options.as_json(:only => [:allow_anonymous_vote])
    %>
    <script type="text/javascript">
      var currentGroup=window.currentGroup=<%= j.to_json %>;
    </script>
    <% end %>
    <%= yield :javascripts %>
  </body>
</html>
