<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="糗事网,糗百,搞笑图片,笑话"/>
    <meta name="description" content="最暴笑的真实糗事分享社区！在这里您可发现校园、办公室、家庭中正在发生的形形色色的搞笑糗事。"/>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %>
      <% else %>
        糗事百科 :: 快乐就是要建立在别人的痛苦之上 :: 糗百
      <% end %>
    </title>
    <%= theme_stylesheet_link_tag 'style_web', 'jquery.fancybox-1.3.4.css' %>
  </head>
  <body>
    <div class="sign">
      <div class="logo">
        <%= link_to ' ', home_path, :title => "返回首页" %>
        </div>
      <div class="block">
        <%= yield %>
      </div>
    </div>
    
    <!--[if IE]><script src="http://www.qiushibaike.com/static/js/other_libs/excanvas/excanvas.compiled.js" type="text/javascript" charset="utf-8"></script><![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>        
    <%= theme_javascript_include_tag %w(jquery.bgiframe.min.js lightbox_me fancybox
              cookie cursor base64 poshytip
              lib2nd vote_history vote floorlink comment
              ajaxlogin app), :cache => true %>
    <%= theme_javascript_include_tag 'jquery.placeholder.min.js', 'signin_up' %>    
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>    
<script>
$('input[placeholder], textarea[placeholder]').placeholder();
</script>    
  </body>
</html>