<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>审帖</title>
<%= theme_stylesheet_link_tag 'tickets' %>
</head>

<body>
<div class="stckbody">
  <%= yield %>
  <div class="st401tu">
    <%= image_tag theme_stylesheet_path('img/st401.jpg') %>
  </div>
</div>



</body>
</html>
