<% f = comment_counter + 1  %>
<% user = comment.user  %>
<% anon = comment.anonymous or comment.user_id == 0 or (not user) or user.deleted? %>
<% group = @group || comment.article.group %>
<div id="comment-<%= comment.id %>" class="comment-block floor-<%=f%>">
  <div class="clearfix">
    <div class="avatar">
      <%= anon ? image_tag('anonymous.png', :alt => '匿名用户') : image_tag(user.avatar.url(:thumb), :alt => user.login) %>
    </div> <!-- avatar-->
    <div class="reply">
      <span class="userlogin" <%= 'class="anonymous"' if anon %>><%= anon ? '匿名人士' : link_to( user.login, user )%></span>
      <span class="body">
        <%= format_content comment, group %>
      </span>
    </div><!-- replay -->
    <div class="report"><a href="javascript:showReport(<%=comment.id%>)" class="link">举报</a>
      <span title="<%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S') %>"><%= f %></span>
    </div><!-- report-->
  </div><!-- clearfix-->
</div><!-- comment-block -->