<% group = @group || @article.group %>
<% aid = @article.id %>
<% not_allow_guest = group.options[:only_member_can_reply] %>
<div id="qiushi_comments_<%= aid %>" class="comments">
  <div id="r<%=aid%>">
    <% if @comments and @comments.size > 0 %>
      <% @offset ||= 0 %>
      <% for c in @comments %>
        <%= render :partial => c, :locals => {:comment_counter => @offset} %>
        <% @offset += 1 %>
      <% end %>
    <% end %>
  </div>
  <div class="input-block">
    <% 
    opt = {:method => 'post', 'data-article_id' => aid}  
    if not_allow_guest
      opt['style'] = 'display:none;'
      opt['class'] = 'login'
    end
    %>
    
    <% form_tag article_comments_path(@article), opt do %>
      <span class="current_user-name">游客 <a href="javascript:showLoginForm()">登录</a></span>
      <input type="hidden" name="comment[parent_id]">
      <input type="hidden" value="<%=aid%>" name="comment[article_id]" id="comment_article_id">
      <textarea class="comment_input original" name="comment[content]">请不要发表与本内容无关的评论，您有了账号就是有身份的人了，我们可认识您。</textarea>
      <div class="row">
        <input type="hidden" value="0" name="comment[anonymous]">
        <button type="submit" id="comment_submit">发表</button>
        <!--<input type="submit" name="commit" class="comment_submit">-->
        <label for="comment_anonymous"><input id="comment_anonymous" type="checkbox" value="1" name="comment[anonymous]"> 匿名评论</label>
      </div>
    <% end %>
    <% if not_allow_guest %>
    <div class="logout login-block"><a href="javascript:showLoginForm()">登录</a>后才能发表评论</div>
    <% end %>
  </div>
</div>