<% content_for :title, '发表我的帖子' %>
<div class="block">
  <% if @article and not @article.new_record? and @article.errors.empty? %>
    <div class="postsuccess"><h2>非常感谢您的分享!</h2><p>您刚刚提交的糗事 <strong>#<%= @article.id %></strong> 将在管理员审核通过之后发表。</p><p>作为回报，本站已将您的人品 +1，接下来的日子，您将生活的更加幸福快乐。</p></div>
    <script type="text/javascript"> if(window.localStorage)window.localStorage.removeItem('article');</script>
  <% else %>
    <% if not @article.nil? and not @article.errors.empty? %>
      <div class='error_message'>发表帖子出现错误：<br/>
        <% @article.errors.each do |key,val| %>
          <%= val %><br/>
        <% end %>
      </div>
    <% end %>
    <div class="new_article">
      <% form_for([@article.group, @article], :html => {:multipart => true, :class => 'well'}) do |f| %>
        <%=f.hidden_field :group_id%>
        <p>
          嗯<br/>
灌水× 广告× 色情× 政治有关× <br/>
搞笑√ 狗血√ 原创√ 积极向上√<br/>
来投稿吧!!!<br/>
        </p>
        <p style="margin: 1em 0">
        <%= f.text_field :title, :class => 'input-xlarge', :placeholder => '标题,可选', :style => 'height: 24px; line-height: 24px; padding: 2px'%>
        <p>
        <textarea onpropertychange="if(this.scrollHeight&gt;180){this.style.height=this.scrollHeight+'px';}" oninput="if(this.scrollHeight&gt;180){this.style.height=this.scrollHeight+'px';}checkContentLength();" id="qiushi_text" class="original" name="article[content]">
        </textarea>
        <div id="length"></div>

        <div class="picbox">
          <label>真相:</label>
          <input type="file" id="article_picture" name="article[picture]"/>
        </div>
        <div class="tagbox">
          <label>标签：</label>
          <input type="text" size="30" name="article[tag_line]" maxlength="30" id="qiushi_rtags"/>
          <span>（最多3个标签，用空格分隔）</span>
        </div>
        <div class="optionbox">
          <label>选项:</label>
          <input type="hidden" name="article[comment_status]" value="0"/>
          <input type="checkbox" id="article_comment_status" name="article[comment_status]" value="closed"/>
          禁止评论
          <input type="hidden" name="article[anonymous]" value="0"/>
          <input type="checkbox" checked="checked" id="article_anonymous" name="article[anonymous]" value="1"/>
          匿名发贴
          <!--input type="checkbox" checked="checked" value="1"/>
          我已阅读并同意 <a href="http://blog.moumentei.com/2010/10/%e7%b3%97%e4%ba%8b%e7%99%be%e7%a7%91%e5%8f%91%e8%b4%b4%e8%a7%84%e8%8c%83.htm" target="_blank">发贴规范</a> 与 <a href="http://blog.moumentei.com/2010/09/copyright.htm" target="_blank">版权声明</a>--></div>
        <div class="buttonbox">
          <input type="submit" class="submit" id="article_submit" name="commit" onclick="if (window.hiddenCommit) { window.hiddenCommit.setAttribute('value', this.value); }else { hiddenCommit = document.createElement('input');hiddenCommit.type = 'hidden';hiddenCommit.value = this.value;hiddenCommit.name = this.name;this.form.appendChild(hiddenCommit); }this.setAttribute('originalValue', this.value);this.disabled = true;this.value='正在发表…';result = (this.form.onsubmit ? (this.form.onsubmit() ? this.form.submit() : false) : this.form.submit());if (result == false) { this.value = this.getAttribute('originalValue');this.disabled = false; }return result;" title="Ctrl + Enter可以快捷发表" value="发表"/>
        </div>
      <% end %>
    </div>
  <% end %>
<% content_for :javascripts do %>
  <script type="text/javascript">
    $('#qiushi_text').focus( function(){
      var e = $(this);
      if(e.hasClass('original')){
        e.val('');
        e.toggleClass('original');
      }
    });
    var save_support = !!window.localStorage;
    function checkContentLength()
    {
      var rest = $('#qiushi_text').hasClass('original') ? 500 : (500-$('#qiushi_text').val().length);
      if(currentUser) {$('#length').html('');} else{
        if(rest >=0 ){
          $('#length').html("<h3 style='color:#0099FF;'>您还可以再输入" + rest + "个字</h3>") ;
        }else{
          $('#length').html('<h3 style="color:red">已经超出文本长度限制，您需要删除'+ (-rest) + '个字');
        }
      }
    }
    $(document).ready(function(){
      if(save_support){
        var article = window.localStorage.getItem('article');
        if(article != null && article.length > 5){
          $('#qiushi_text').focus();
          $('#qiushi_text').val(article);
        }
        setInterval(function(){
          var article = $('#qiushi_text').val();
          if(!$('#qiushi_text').hasClass('original') && article && article.length > 5)
            window.localStorage.setItem('article',article);
          else
            window.localStorage.removeItem('article');
        },5000);
      }
    });
  </script>
<% end %>
</div>
<div class="shadow"></div>