<% m = @article.content.blank? ? [] : @article.content.mb_chars %>
<% content_for :keywords, @article.tags.collect{|t|t.name}.join(',') %>
<% content_for :title do  %>
帖子#<%=@article.id%> <%= m.size > 20 ? "#{m[0, 20]}..." : m%>
<% end %>
<% url=URI::encode("http://#{request.domain}#{request.request_uri}")%>
<% if ( @msg || flash[:notice] ) %><div id="notice"> <%= ( @msg || flash[:notice] ) %></div> <% end %>

<% if @article %>
  <%= render(:partial => @article ) %>
  <%# Comment.load_ratings @comments %>
  <%# render(:partial => 'comments/index') %> 
  <% if @article.public_references.count > 0 %>
      <%= link_to_unless_current("#{@article.public_references.count}个相关帖子", :controller => :articles, :action => :ref, :id => @article.id) do
          "<span style='color: #96dd99'>以下是链接到该帖子的相关帖子</span>"
          end %>
  <% end %>
<% end %>

<% if @article.original_picture and @article.original_picture.articles.size > 1 %>
  <h3>相关涂鸦</h3>
  <ul>
  <% @article.original_picture.articles.each do |art| %>
  <% unless art.id == @article.id or art.status != 'publish' %>
  <%= link_to art.title, art %>
  <% end %>
  <% end %>
  </ul>
<% end %>