<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#uuid=1fe52499-cdf8-49b4-a68f-3e6596592b1a&style=1"></script>
<script type="text/javascript">
  $(function(){
    $('.article').each(function(){
      //var b = $(this).find('.bshareDiv')
      var $t = $(this);
      bShare.addEntry({
        title: '#'+$t.attr('id').replace('qiushi_tag_', ''),
        url: $t.find('.permalink').attr('href'),
        summary: $t.find('.content').text()
      });
    })
  })
</script>