<div id="box">
            <div id="float" class="div1">
              <div id="float-ad" class="sponsor">
                <%# render :partial => 'common/float_ad' %>
              </div>
              <div class="shadow"></div>
              <div class="smartphone" id='mobile_ad'>
                <%= link_to theme_image_tag('in206.jpg'), '' %>
                <a href="http://itunes.apple.com/cn/app/id422853458?ls=1&amp;mt=8" target="_blank">
                  <img src="/static/css/img/web21.png?v=4d1ae"/></a>
                <!--a style="display:none" href="http://www.wandoujia.com/apps/qsbk.app" target="_blank"><img src="/static/css/img/web22.png?v=c5ac6"/></a>
                <a style="display:none" href="http://m.qiushibaike.com" target="_blank"><img src="/static/css/img/web23.png?v=6ea9a"/></a>
                <a style="display:none" href="http://product.dangdang.com/product.aspx?product_id=22635844" target="_blank"><img src="/static/css/img/web24.png?v=252b3"/></a>
                <script>
                  var mobile_ad_size = $('#mobile_ad a').size();
                  var mobile_ad_index= Math.floor(Math.random()*mobile_ad_size);
                  setInterval(function(){
                    $('#mobile_ad a').hide();
                    mobile_ad_index = (mobile_ad_index +1)%mobile_ad_size;
                    $('#mobile_ad a').eq(mobile_ad_index).show();
                  },5*1000);
                </script-->
              </div>
              <div class="toolbar">
                <div class="block">
                  <a href="#top" class="back" id="tip-back" title="返回页顶"><span class="bti"></span></a><a href="javascript:showSuggestForm()" class="feedback" id="tip-feedback" title="在线反馈"><span class="bti"></span></a><a href="http://weibo.com/gouxueriji" target="_blank" class="sina" id="tip-sina" title="新浪微博"><span class="bti"></span></a><a href="http://t.qq.com/gouxueriji" target="_blank" class="tencent" id="tip-tencent" title="腾讯微博"><span class="bti"></span></a></div>
              </div>
              <div class="shadow"></div>
            </div>
          </div>
