          <div class="sponsor">
            <script type="text/javascript"><!--
              google_ad_client = "pub-4939841000086153";
              /* 糗事百科中部矩形300x250 */
              google_ad_slot = "9031181874";
              google_ad_width = 300;
              google_ad_height = 250;
              //-->
            </script>
            <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
          </div>
          <div class="shadow"></div>