<% if @articles.total_pages > 1 %>
  <div class="pagebar">
    <% l = @articles.current_page - 2 %>
    <% r = @articles.current_page + 2 %>
    <% if @articles.previous_page %>
      <% link_to '上一页', {:page => @articles.previous_page}, {:class => 'prev'} do %>
        <span class="bti"></span>
      <% end %>
    <% end %>
    <% if @articles.current_page == 1 %>
      <span class="current">1</span>
    <% else %>
      <%= link_to '1', :page => 1 %>
    <% end %>
    <% if l > 2 %>
      <span class="dots">…</span>
    <% else 
      l = 2
    end %>
    <% l.upto([r,@articles.total_pages - 1].min) do |i| %>
      <% if i == @articles.current_page %>
        <span class="current"><%=i%></span>
      <% else %>
        <%= link_to i, :page => i %>
      <% end %>
    <% end %>
    <% if r < @articles.total_pages - 1  %>
      <span class="dots">…</span>
    <% end %>
    <%= link_to @articles.total_pages, :page => @articles.total_pages %>
    <%= link_to '下一页', {:page => @articles.next_page}, {:class => "next"} if @articles.next_page %>
    <%= yield :readmore %>
  </div>  
<% end %>
