<%# render :partial => "common/google_ad1" %>
<div class="microblog">
  <h3>收听</h3>
  <ul>
    <li><a href="http://weibo.com/gouxueriji" target="_blank">新浪微博</a></li>
    <li><a href="http://352102132.qzone.qq.com" target="_blank">QQ空间</a></li>
    <li><a href="http://t.qq.com/gouxueriji" target="_blank">腾讯微博</a></li>
    <li><a href="http://r.qq.com/cgi-bin/reader_switch?u=http://feed.feedsky.com/gouxue" target="_blank">Feed速递</a></li>
  </ul>
  <div style="clear:both"></div>
</div>
<div class="shadow"></div>
<%# render :partial => "common/google_ad2" %>
<%= render :partial => "common/tag_cloud" %>
<%= render :partial => "common/float_box" %>
