dl,ul {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
}
li{
	list-style-type: none;
}
dt,dd,i,em,dfn,p,img{
	margin: 0px;
	padding: 0px;
}

body,td,th {
	font-size: 12px;
	color: #333333;
}
body {
	background-image: url(img/stbj.jpg);
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:link {
	color: #333333;
	text-decoration: none;
}
a:visited {
	color: #333333;
	text-decoration: none;
}
a:hover {
	color: #CC0000;
	text-decoration: none;
}



.stckbody{
	clear: both;
	float: none;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	text-decoration: none;
}
.st101{
	line-height: 29px;
	color: #FFFFFF;
	display: inline;
	float: left;
	width: 500px;
	margin-left: 8px;
}
.st101 a,.st101 a:visited{
	color: #FFFFFF;
	line-height: 29px;
}
.st101 a:hover{
	color: #FFCC00;
}
.st102{
	float: right;
	width: 170px;
	line-height: 29px;
	color: #FFFFFF;
}
.st102 a,.st102 a:visited{
	color: #FFFFFF;
	line-height: 29px;
	text-decoration: underline;
}
.st102 a:hover{
	color: #FFFF99;
	text-decoration: underline;
}
.st201{
	background-color: #DFDFDF;
	display: inline;
	float: left;
	width: 306px;
	margin-top: 25px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	height: 370px;
	padding-left: 2px;
}
.st202{
	background-color: #FFFFFF;
	float: left;
	width: 286px;
	height: 370px;
        padding: 10px;
}
.st203{
	font-size: 14px;
	line-height: 25px;
	display: inline;
	float: left;
	width: 280px;
	margin-top: 12px;
	padding-left: 13px;
}
.st204{
	font-size: 14px;
	line-height: 25px;
	display: inline;
	float: left;
	width: 280px;
	margin-top: 25px;
	padding-left: 13px;
}
.st204 b{
	color: #9DB08E;
}
.st301{
	display: inline;
	float: left;
	width: 198px;
	margin-top: 35px;
}
.st302{
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	color: #9DB08E;
	text-align: center;
	float: left;
	width: 198px;
}
.st303{
	background-color: #DFDFDF;
	display: inline;
	padding: 4px;
	float: left;
	height: 302px;
	width: 190px;
	margin-top: 5px;
}
.st304{
	color: #CCCCCC;
	float: left;
	height: 294px;
	width: 190px;
	background-color: #CCCCCC;
	padding-top: 8px;
}
.st305{
	display: inline;
	float: left;
	width: 180px;
	margin-left: 8px;
}
.st305 dt{
	font-size: 14px;
	line-height: 35px;
	font-weight: bold;
	float: left;
	width: 180px;
	color: #333333;
}
.st305 dt i{
	font-style: normal;
	float: left;
	width: 35px;
}
.st305 dt b{
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: #333333;
	float: left;
	width: 140px;
	display: inline;
	margin-left: 5px;
}
.st305 dd{
	font-size: 14px;
	line-height: 25px;
	color: #666666;
	float: left;
	width: 135px;
	padding-left: 45px;
}
.st305 dd a,.st305 dd a:visited{
	color: #666666;
	text-decoration: underline;
}
.st305 dd a:hover{
	color: #CC0000;
	text-decoration: underline;
}
.st306{
	display: inline;
	float: left;
	width: 190px;
	margin-top: 12px;
	border-top-width: 6px;
	border-top-style: solid;
	border-top-color: #DFDFDF;
}
.st307{
	font-size: 14px;
	line-height: 25px;
	color: #9DB08E;
	text-align: center;
	float: left;
	width: 198px;
	display: inline;
	margin-top: 5px;
}
.st307 a,.st307 a:visited{
	color: #9DB08E;
	text-decoration: underline;
	font-weight: bold;
}
.st307 a:hover{
	color: #8DA47B;
	text-decoration: underline;
}
.st401tu{
	display: inline;
	float: left;
	width: 250px;
	margin-top: 140px;
	margin-left: 90px;
}
input[type=button] {
    border: none;
    text-decoration: underline;
    outline: 0;
    background: transparent;
    cursor:pointer;
}
.st201 .author {
    display: none;
}