<% content_for :title, '登录' %>
<%= show_flash %>
<div>
<% form_tag session_path do %>
  <p class="notice" style="color:red">&nbsp;<br/></p>
  <label>用户名或邮箱</label>
  <input id="login" name="login" type="text" placeholder="用户名或邮箱" value="<%= @login %>">
  <label>密码</label>
  <input id="password" name="password" type="password" placeholder="密码">
  <input name="remember_me" type="checkbox" id="remember_me" value="1" checked="checked">
  <button type="submit" name="submit">登录</button>
<% end %>
</div>

<div class="note">
  <%= link_to '找回密码', :controller => 'users', :action => 'fetchpass' %> 
  | 
  <%= link_to '注册帐号', signup_path %>
  |
  <%= link_to "返回#{Setting.site_name}", home_path %>
</div>
